<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="https://unpkg.com/vue@3.0.6"
        integrity="sha384-7wt3qVUBWUOCGShM2BfcImYD52wQnkIuvw9rlB6fszZOmdkDKI6yLh4/r9oBYeYP"
        crossorigin="anonymous"></script>
    <script defer src="js/script.js"></script>

    <title>Vue Test App Lektion 11</title>
</head>

<body >
    <div id=app>
        <h1>{{textbox}}</h1>
        <h1 v-if="hash1">This is a very big title.</h1>
        <h1 id="number">{{number}}</h1>
        <div>
            {{message}}
            <p>{{number /2}}</p>
        </div>
    
        <p v-bind:title="sometitle">
            This is a text, with a title
        </p> 
    
        <ul>
            <li v-for="text in someList">{{text}}</li>
        </ul>
    
        <form>
            <input type="text" v-model="textbox"><br>
            {{textbox}}
    
        </form>
    
    </div>
    

</body>

</html>