* {
    font-size: 25pt;
  }
  html {
      background-color: darkblue;
  }


  h1 {
    font-style: italic;
    color: aliceblue;
  }

  link {
      color: chartreuse;
  }

  p {
    background-color: rgb(73, 184, 73);
  }

  div {
    background-color: rgba(4, 121, 62, 0.3);
  }

  em {
    background-color: #00ff00;
  }