body {
  background: rgb(253, 187, 45);
  background: linear-gradient(
    0deg,
    rgba(253, 187, 45, 1) 0%,
    rgba(34, 193, 195, 1) 100%
  );
  font-family: Verdana, Arial, sans-serif;
 
}

#main {
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.twocolumn{
    display: flex;
    justify-content: space-between;
}

#longtext {
    height: 200px;
    overflow: scroll /*To make the text scrollable and the website not to long. */
}


#ht {
    text-align: center;
    text-transform: uppercase;
}


header {
    text-align: center;
}



form {
  border: 4px dotted;
  border-color: rgb(34, 193, 195);
}

.timg {
  border: 4px dotted;
  border-color: rgb(34, 193, 195);
  margin: 1em;
  padding: 0.4rem;
  position: relative;
  float: right;  /* Så att jag upfyller kraven för G */
}

fieldset {
  border: 0 none;
}


@media print {
    nav { display: none; }
}