<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3.0.7"
        integrity="sha384-g7Fgxax108zH3CBILswBtf+/NjaSEmPwgjfFAz5HRe9NRYIdSWFjJmJgXA/N6OR4"
        crossorigin="anonymous"></script>
    <title>Document</title>
    <script defer src="js/script.js" type="text/javascript"></script>
</head>

<body>
    <div id="app">
        <h1>{{textbox}}</h1>
        <h1 v-if="hash1">This is a very big title.</h1>
        <h1 id="number">{{number}}</h1>
        <div>
            {{message}}
            <p>{{number /2}}</p>
        </div>

        <p v-bind:title="sometitle">
            This is a text, with a title = {{count}}
        </p>

        <input type="button" value="Add" @click="addToList">
        <ul>
            <li v-for="text in someList">{{text}}</li>
        </ul>


        <pre v-if="showit">{{textArea}}</pre>
        <textarea v-else v-model="textArea"></textarea>

        <input type="button" value="Button" @click="switchIt">

    </div>

</body>

</html>