.container {
  display: flex;
  box-sizing: border-box;
  border : 1px solid;
  border-color: black;
  width: 100%;
  height: 100%;
  gap: 0.5em;
  padding: 2em;
}

div {
  flex-grow: 1;
  border : 1px solid

}